body {
  background-color: rgb(160, 160, 160);
}

h1 {
  font-size: 2.5rem;
}

#start-game {
  background-color: white;
  padding: 10px 15px;
  font-size: 1.5rem;
  border: 3px solid black;
  border-radius: 10px;
}
#game-board {
  margin-top: 30px;
}
tr > td {
  background-color: white;
}
